.news__card {
    height: 363px;
    width: 317px;
}
.news__image {
    position: relative;
    top: 0px;
    left: 0px;
    width: 317px;
    height: 284px;
}
.news__image img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.news__text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 167%;
    color: #000000;
}

@media screen and (max-width:1440px) {
    .news__card {
        height: 308px;
        width: 256px;
    }
    .news__image {
        width: 255px;
        height: 224px;
    }
    .news__text {
        font-size: 18px;
        line-height: 167%;
    }

}
@media screen and (max-width:1024px) {
    .news__card {
        height: 450px;
        width: 436px;
    }
    .news__image {
        width: 436px;
        height: 396px;
    }
    .news__text {
        font-size: 18px;
        line-height: 167%;
    }
}
@media screen and (max-width:768px) {
    .news__card {
        height: 450px;
        width: 340px;
    }
    .news__image {
        width: 305px;
        height: 259px;
    }
    .news__text {
        font-size: 18px;
        line-height: 167%;
    }

}
@media screen and (max-width:640px) {
    .news__card {
        width: 293px;
        height: 335px;
    }
    .news__image {
        width: 293px;
        height: 259px;
    }
    .news__text {
        font-size: 16px;
        line-height: 24px;
        margin: 20px 0px 0px 0px;
    }

}
@media screen and (max-width:375px) {
    .news__card {
        width: 327px;
        height: 333px;
    }
    .news__image {
        width: 327px;
        height: 259px;
    }
    .news__text {
        font-size: 16px;
        line-height: 24px;
        margin: 20px 0px 0px 0px;
        width: 326px;
        height: 54px;
    }
    .news__card:nth-child(3),
    .news__card:nth-child(4) {
        display: none;
        visibility: hidden;
    }
}