.main {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:1440px) {
    .main {
        width: 1440px;
    }
}

@media screen and (max-width:1024px) {
    .main {
        width: 1024px;
    }
}

@media screen and (max-width:768px) {
    .main {
        width: 768px;
    }
}

@media screen and (max-width:640px) {
    .main {
        width: 640px;
    }
}

@media screen and (max-width:375px) {
    .main {
        width: 375px;
    }
}
